body {
	background-color: #fff3d0;
	font-family: sans-serif;
	text-align: center;
}

h1 {
	font-size: 3rem;
	padding-top: 5rem;
}

img {
	vertical-align: middle;
	width: 100px;
}

p {
	color: #777777;
}

#disqus_thread {
	margin: 2rem auto;
	max-width: 600px;
}
